<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>发送</title>
	</head>
	<body>
		<div>
			公告<span id="bag"></span>
		</div>
		<form th:action="@{notice/send}" method="post">
			<div>
				<label>标题</label>
				<input type="text" name="title" />
			</div>
			<div>
				<label>标题</label>
				<textarea rows="5" cols="5" name="content"></textarea>
			</div>
			<div>
				<button type="submit" value="发送"></button>
			</div>
		</form>
	</body>
	<script type="text/javascript" th:src="@{static/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{static/js/stomp.js}"></script>
	
	<script type="text/javascript">
		var ws = new SockJS("http://192.168.64.128:15674/stomp");
		var client = Stomp.over(ws);
		client.heartbeat.incoming = 0;  
		client.heartbeat.outgoing = 0;
		
		client.onreceive = function(m) {  
		   console.log("receive" + m); 
		};
		
		var on_connect = function(x){
			client.subscribe("/queue/queue_test",function(msg){
				console.log("connect:" + msg);
			});
		};
		
		var on_error = function(){
			console.log("error");
		};
		client.connect("guest","guest",on_connect,on_error,"/");
	</script>
</html>