<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>登 陆</title>
    <style type="text/css">
        .error-info {
            color: red;
        }

        .weixin-icon {
            width: 24px;
            height: 23px;
            display: block;
            background: url("/wx/resources/images/icon24_appwx_logo.png");
            margin: 0 auto;
            position: absolute;
            left: 100px;
        }
    </style>
</head>
<body>
<div>
    <h1>
        <em>Management System</em>
    </h1>
    <span class="error-info" th:if="${session.SPRING_SECURITY_LAST_EXCEPTION  != null}"
          th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
    <form th:action="@{/login}" th:method="post">
        <div>
            <label>用户名：</label><input type="text" name="username" th:autocomplete="off" required="required"
                                      placeholder="请输入账号"/>
        </div>
        <div style="margin-top: 10px;">
            <label>密码:</label>
            <input type="password" name="password" th:autocomplete="off"
                   required="required" placeholder="请输入密码"/>
        </div>
        <div style="margin-top: 10px;float: left;">
            <input type="submit" value="登陆"/>
        </div>
        <div style="height: 32px;margin-top: 10px;">
            <a th:href="@{/wechat/login}">
                <b class="weixin-icon"></b>
                <span style="margin-left: 75px">微信</span>
            </a>
        </div>
    </form>
</div>

<div>
    <button id="chooseImage">chooseImage</button>
    <button id="checkJsApi">checkJsApi</button>
    <button id="updateAppMessageShareData">分享给朋友</button>
    <button id="onMenuShareAppMessage">分享给朋友2</button>
    <button id="updateTimelineShareData">分享到朋友圈</button>
    <button id="onMenuShareTimeline">分享到朋友圈2</button>
    <button id="onMenuShareQQ">分享到QQ</button>
    <button id="onMenuShareQZone">分享到QQ空间</button>
    <button id="qucode">扫一扫</button>
</div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script src="http://203.195.235.76/jssdk/js/zepto.min.js"></script>

<script th:inline="javascript">
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: [[${jsapiTicket.appId}]], // 必填，公众号的唯一标识
        timestamp: [[${jsapiTicket.timestamp}]], // 必填，生成签名的时间戳
        nonceStr: [[${jsapiTicket.nonceStr}]], // 必填，生成签名的随机串
        signature: [[${jsapiTicket.signature}]],// 必填，签名
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage',
            'updateAppMessageShareData', 'updateTimelineShareData', 'onMenuShareQQ', 'onMenuShareQZone',
            'chooseImage', 'scanQRCode']
    });

    wx.error(function (res) {
        console.log("error....");
        alert(JSON.stringify(res));
    });
    wx.ready(function () {
        document.querySelector('#checkJsApi').onclick = function () {
            wx.checkJsApi({
                jsApiList: [
                    'getNetworkType',
                    'previewImage'
                ],
                success: function (res) {
                    alert(JSON.stringify(res));
                },
                fail: function (res) {
                    alert("fail:" + JSON.stringify(res));
                }
            });
        };
        document.querySelector('#updateAppMessageShareData').onclick = function () {
            wx.updateAppMessageShareData({
                title: '分享给朋友标题', //
                link: [[${jsapiTicket.url}]],
                desc: "desc2",
                imgUrl: 'http://www.pptbz.com/pptpic/UploadFiles_6909/201203/2012031220134655.jpg',
                success: function (res) {
                    location.href = "https://www.baidu.com";
                    // alert(JSON.stringify(res));
                },
                cancel: function (res) {
                    alert("用户取消分享");
                },
                fail: function (res) {
                    alert("fail:" + JSON.stringify(res));
                }
            });
        };
        document.querySelector('#onMenuShareAppMessage').onclick = function () {
            wx.onMenuShareAppMessage({
                title: '分享给朋友标题2', //
                desc: "desc2",
                link: [[${jsapiTicket.url}]],
                imgUrl: 'http://www.pptbz.com/pptpic/UploadFiles_6909/201203/2012031220134655.jpg',
                success: function (res) {
                    location.href = "https://www.baidu.com";
                    // alert(JSON.stringify(res));
                },
                fail: function (res) {
                    alert("fail:" + JSON.stringify(res));
                }
            });
        };
        document.querySelector('#updateTimelineShareData').onclick = function () {
            wx.showMenuItems({
                menuList: ["menuItem:share:timeline"]

            });
            wx.updateTimelineShareData({
                title: '分享到朋友圈标题',
                link: [[${jsapiTicket.url}]],
                imgUrl: 'http://www.pptbz.com/pptpic/UploadFiles_6909/201203/2012031220134655.jpg',
                success: function (res) {
                    location.href = "https://www.baidu.com";
                    // alert(JSON.stringify(res));
                },
                fail: function (res) {
                    alert("fail:" + JSON.stringify(res));
                }
            });
        };
        document.querySelector('#onMenuShareTimeline').onclick = function () {
            wx.onMenuShareTimeline({
                title: '分享到朋友圈2', //
                link: [[${jsapiTicket.url}]],
                imgUrl: 'http://www.pptbz.com/pptpic/UploadFiles_6909/201203/2012031220134655.jpg',
                success: function (res) {
                    location.href = "https://www.baidu.com";
                },
                fail: function (res) {
                    alert("fail:" + JSON.stringify(res));
                }
            });
        };

        document.querySelector('#onMenuShareQQ').onclick = function () {
            wx.onMenuShareQQ({
                title: '分享到QQ', //
                link: [[${jsapiTicket.url}]],
                imgUrl: 'http://www.pptbz.com/pptpic/UploadFiles_6909/201203/2012031220134655.jpg',
                success: function (res) {
                    location.href = "https://www.baidu.com";
                },
                fail: function (res) {
                    alert("fail:" + JSON.stringify(res));
                }
            });
        };

        document.querySelector('#onMenuShareQZone').onclick = function () {
            wx.onMenuShareQZone({
                title: '分享到QQ空间', //
                link: [[${jsapiTicket.url}]],
                imgUrl: 'http://www.pptbz.com/pptpic/UploadFiles_6909/201203/2012031220134655.jpg',
                success: function (res) {
                    location.href = "https://www.baidu.com";
                },
                fail: function (res) {
                    alert("fail:" + JSON.stringify(res));
                }
            });
        };
        document.querySelector('#chooseImage').onclick = function () {
            wx.chooseImage({
                success: function (res) {
                    images.localId = res.localIds;
                    alert(res.localIds.length);
                }
            });
        };

        document.querySelector("#qucode").onclick = function () {
            wx.scanQRCode({
                needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                //            scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    alert("result:" + result);
                },
                fail: function (res) {
                    alert("fail");
                    alert(JSON.stringify(res));
                }
            });
        }
    // });
    //    function qrcode() {
    //        wx.scanQRCode({
    //            needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
    ////            scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
    //            success: function (res) {
    //                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
    //                alert("result:" + result);
    //            },
    //            fail: function (res) {
    //                alert("fail");
    //                alert(JSON.stringify(res));
    //            }
    //        });
       });
</script>
</body>
</html>