<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <Properties>
        <property name="LOG_HOME">${sys:user.home}/logs</property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36}.%M() @%L - %msg%n}{STYLE=Logback}" />
        </Console>
    </appenders>
    <loggers>
        <root level="error">
            <appender-ref ref="Console" />
        </root>
        <logger name="com.hk.kafka" level="debug" additivity="false">
            <appender-ref ref="Console" />
        </logger>

    </loggers>
</configuration>